
.encryptionInputContainer textarea {
  resize: vertical;
  padding: 7px;
  /* background-color: var(--background-color); */
  background-color: inherit;
  color: aquamarine;
  font-size: 17px;
  font-weight: 300;
  width: 100%;
  border:none;
  height: 100%;
  resize: none !important;
  position: absolute;
}

.encryptionInputContainer textarea:focus{
  border:none;
  box-shadow: none;   
}

.imageEncryptionInput {
  width: 100%; 
  border-radius: 10px;
  opacity: 1;
  pointer-events: auto;
  -webkit-touch-callout: default;
  
}

.imageInputPlaceHolderTxt {
  color: #757575;
  font-weight: 100;
  margin-left: 6px;

}

.encryptionInputContainer textarea:focus-visible{
  outline: none; /* Removes default browser outline */
  /* border-color: #373744; Ensures custom border is applied */
  /* background-color: #373744; 
  background-color: #27252f; */
  background-color: #302e3a;
  border:none; 
}

.toggle_encryption_btn{
  color: var(--primary-color);
  margin: 1rem;
  text-align: center;
  border-radius: 15px;
  width: 115px;
  height: 30px;
  background-color: #fcf9f900;
  box-shadow: none;
  border:none;
  transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out;

}

.resizeIconMobile {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 10;
  bottom: 5px;
  right: 5px;
  transform: rotate(-45deg);
}

.resizeIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.encryptionInputContainer{

  overflow: hidden;
  border-radius: 15px;
  border: none;
  position: relative;
  /* padding:0px !important;   */
  background-color: var(--dark-grey-1);
  resize: vertical;
  min-height: 120px;
  border: 5px solid var(--dark-grey-1);
  
  /*same color as inactive tab*/
  /* background: #27252f;  */
   /*slightly lighter then inactive tab*/   
  /* background: #302e3a; */

  /* background:#373744; */
  background-color: #31313d;
  transition: box-shadow .3s ease-in-out;
  transform-origin: top;
  box-sizing: border-box;


}

.encryptionInputContainer:focus-within{

  /* box-shadow: 0px 1px 3px 0px var(--primary-color); */  
  /* border-color: var(--primary-color); */
  /* box-shadow: 0px 1px 3px 0px black; */
  
  /* box-shadow:  0px 5.5px 1px 2px var(--primary-color); */
  box-shadow: none;
}

.tabButtonContainer {

  width: 165px;
  position: relative;
  top: 15px;
}

.encryptionInputContainer{

  overflow: hidden;
  border-radius: 15px;
  border: none;
  position: relative;
  /* padding:0px !important;   */
  background-color: var(--dark-grey-1);
  resize: vertical;
  min-height: 120px;
  border: 5px solid var(--dark-grey-1);
  background-color: var(--dark-grey-0);
  transition: box-shadow .3s ease-in-out
}

.tab{
  transition: fill .2s ease-in-out;
}

.encryptionKeyInput {
  background-color: var(--dark-grey-0);
  border: 5px solid var(--dark-grey-1);
  border-radius: 10px;
  color: aquamarine;
}

/* Apply styles when clicked or focused */
.encryptionKeyInput:focus,
.encryptionKeyInput:focus-visible,
.encryptionKeyInput:active {
  background-color: #302e3a; 
  outline: aquamarine;
  box-shadow: 0px 1px 3px 0px var(--primary-color);
}





