 

/* userMessages.module.css */
.tableWrapper {
    padding: 20px; 
    background-color: var(--dark-grey-1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    overflow:hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-weight: 100; 
}


.evenRow {
    
    background-color: #373744;
   
  }
  
.oddRow {

background-color: #31313d;
}

.oddRow:hover {
    cursor: pointer;
}
.evenRow:hover {
    cursor: pointer;
}

.tbody, .td, .tfoot, .th, .thead, .tr {
  padding: 10px; 
}

.thead {
  color:var(--primary-color);
  text-align: center;
}

.th:nth-child(1), 
.th:nth-child(2), 
.td:nth-child(1), 
.td:nth-child(2) { 
    max-width: 150px; /* Adjust as needed */
    white-space: normal;  
    word-wrap: break-word; 
    overflow-wrap: break-word;
}




@media (max-width: 768px) {
  .th, .td {
      padding: 8px;
  }

  .tableWrapper {
      padding: 10px;
  }
}


.expandedContent {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform:translateZ(0px);
    transform-origin: top;
    transition: all 0.2s ease-out 
}

.expandedContentOpen {
    max-height: 5000000000px;  
    opacity: 1;
    border-top: 1px ;
    transform: scaleY(1);
    border-top: 1px solid #7fffd43d;
    padding-top: 10px;
    transition: all 0.2s ease-in 
}

.expandedContentKey {
  word-wrap: normal;
  text-decoration: underline;
}

.expandedContentValue {
  color:white;
}

.closed {
    .vertical {
      transition: all 0.5s ease-in-out;
      transform: rotate(-90deg);
    }
    .horizontal {
      transition: all 0.5s ease-in-out;
      transform: rotate(-90deg);
      opacity: 1;
    }
  }
  
  .opened {
    opacity: 1;
    .vertical {
      transition: all 0.5s ease-in-out;
      transform: rotate(90deg);
    }
    .horizontal {
      transition: all 0.5s ease-in-out;
      transform: rotate(90deg);
      opacity: 0;
    }
  }

.circlePlus { 
    height: 2rem;
    width: 2rem; 
    opacity: .7;
}

.circle:hover{
  cursor: pointer;
}

.circlePlus .circle {
    position: relative; 
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 1px solid #DFDAD7;
}
.circlePlus .circle .horizontal {
    position: absolute;
    background-color: aquamarine;
    width: 30px;
    height: 5px; 
    top: 41%; 
}

.circlePlus .circle .vertical {
    position: absolute;
    background-color: aquamarine;
    width: 5px;
    height: 30px;
    left: 50%;
    margin-left: -2.5px;
    top: 50%;
    margin-top: -15px;
}

.trash { 
    position: relative;
    left: calc(100% - 40px);
    width: 40px;
    height: 40px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Optional: Dim the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background: var(--dark-grey-1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust width as needed */
  height: 150px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--primary-color);
  border: 2px solid;
  position: relative;
}

.modal_dismiss_btn{ 
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: var(--primary-color);
  background: var(--dark-grey-2);
  width: 20%;
  border-radius: 15px; 
  border: none;
  text-align: center;
}

.cellEntry {
  color:white;
}

