:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-background-color: #373744;
  --secondary-dark-background: #0b2a37;

    /* font color */
  --primary-color: aquamarine;
  --linear-gradient-main: linear-gradient(315deg, var(--secondary-dark-background) 0%, #12100e 74%);

}

@font-face {
  font-family: "Cyberpunk";
  src: url("../app/assets/Major_Mono_Display/Major_Mono_Display/MajorMonoDisplay-Regular.ttf");
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

textarea{
  resize: vertical;
  padding: 7px;
  /* background-color: var(--background-color); */
  background-color: inherit;
  color: aquamarine;
  font-size: 17px;
  font-weight: 300;
  width: 100%;
  border:none;
  height: 100%;
  resize: none !important;
  position: absolute;
}

::-webkit-resizer{
  display: none !important;
}

textarea:focus{
  border:none;
  box-shadow: none;   
}

textarea:focus-visible{
    outline: none; /* Removes default browser outline */
  /* border-color: #373744; Ensures custom border is applied */
  background-color: #373744; 
  background-color: #27252f;
  background-color: #302e3a;
  
  border:none; 
}

textarea:hover::-webkit-resizer {
  opacity: 1;
  transform: scale(1.1);
}



 
