

/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */





/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}


@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

/* fancy title */
.gradient_wrapper {
  display: inline-block;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(45deg, 
    #7fffd4, #00bfff, #ff00ff, #8a2be2, #00ff00);  /* Gradient with multiple hues */
  background-size: 400% 400%;  /* Make the gradient bigger than the text area */
  background-clip: text;  /* Clip background to text */
  color: transparent;  /* Make the text transparent */
  animation: gradient-animation 15s linear infinite;  /* Animate the background */
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gradient_wrapper h1{

  font-family: "Cyberpunk";
 
}

/* Define the animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* ******************* this needs to get moved !!********************* */
/* Skeleton loader for paragraph */
.skeleton_loader {
  width: 100%;
  height: 17px; /* Adjust height based on text */
  border-radius: 8px; /* Rounded corners */

  /* more subdued synthwave with a pastel feel */
  background: linear-gradient(90deg, #8aede096 25%, #f06af099 50%, #b25ae67d 75%, #8aede096 100%);

  background-size: 200% 100%; /* Stretch gradient for animation */

  animation: loading 1.5s infinite ease-in-out; /* Infinite animation */
  background-repeat: repeat-x;
  margin-top: 15px;
}

/* Animation to simulate the loading effect */
@keyframes loading {
  /* default to 200% 0 t0 -200% 0 */
  0% {
    background-position: var(--startPosition);
  }
  100% {
    background-position: var(--endPosition);
  }
}

